streamlit
langchain
langchain-community
ollama
rapidfuzz
pytest
python-dotenv
bcrypt
authlib
uvicorn
starlette
pandas
matplotlib
itsdangerous
langchain_ollama

bcrypt
python-dotenv
uvicorn
starlette
itsdangerous

